body {
   font-family: sans-serif;
   marin:0;
}
header {
    background-color:aqua ;
    border:2px solid blue;
    padding: 5px;
    color: darkblue;
    border-radius: 10px;
}
 header a{ 
    background-color:darkblue ;
    color:white ;
    text-align: none;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
 }
 footer{
   border: 5px solid DeepPink;
  background-color: DeepPink;
 }
 footer p{
   background-color: white;
 }
 nav{
   border: 2px solid lightgray;
   padding: 5px;
   margin: 10px;
 }
 nav a{
 color: DarkGray;
 padding: 20px;
 margin: 20px;
 text-decoration: none;
 }
 .balss{
  border-radius: 10px;
  border:5px solid Fuchsia ;
  padding: 10px;
 }
  .contacts{
    border:4px solid blue ;
    padding:10px ;
    text-decoration:none ;
  }
  

